body{
    background-color:#5D697A;
  }
  #main{
    font-size:40px;
    font-family:Consolas;
    text-align:center;
    margin-top:2em;
    color:#FCE850;
    letter-spacing:10px;
    word-spacing:10px;
    text-transform:uppercase;
    margin:2em 3em 2em 3em;
    
  }
  .sub{
    font-size:15px;
    word-spacing:0px;
    color:#2E9F82;
  }